
<div>
  <H2>Dash-Board</H2>
  <app-search-bar [list]="ingredientList"></app-search-bar>

  <div *ngIf="list">
    <div *ngFor="let ingredient of list">
      <div (click)="removeItem(ingredient)">{{ingredient.strIngredient}}</div>
    </div>
  </div>
  
  <a routerLink="/recipeOptions/">
    <button class="searchRecipes" (click)="searchRecipes()">Search Recipes</button>
  </a>

  <div *ngFor="let ingredient of filteredIngredients" class="container">
      <div class>
        <button (click)="addItem(ingredient)">{{ingredient.strIngredient}}</button> 
        <div class='card'></div>
      </div>
  </div>

</div>